<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segundo Projeto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .content {
            flex: 1;
        }

        .footer-subscribe {
            background-color: #f8f9fa;
        }
    </style>
</head>

<body>
    <div class="content">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="https://assets-global.website-files.com/62434fa732124a0fb112aab4/62434fa732124a332512aaee_placeholder-1.svg"
                        alt="Logo" class="d-inline-block align-top">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item  ml-4">
                            <a class="nav-link" href="#">Veja um exemplo</a>
                        </li>
                        <li class="nav-item ml-4">
                            <a class="btn btn-primary" href="/login/">Ja Sou Membro</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="text-center my-5">
            <div class="container">
                <h1 class="mb-4">Bem-vindo ao Nosso portfolio</h1>
                <div class="row">
                    <div class="col-md-6 text-monospace">
                        <p class="mb-4 text-md-left">Crie e compartilhe seu portfólio profissional de maneira fácil e
                            intuitiva. No Nosso portfolio, você pode:<br>
                            Construir seu portfólio: Adicione projetos e mostre suas habilidades e experiências.<br>
                            Colaborar com outros: Marque outros profissionais como participantes dos seus projetos e
                            mostre o trabalho em equipe.<br>
                            Exibir seu talento: Deixe seu portfólio disponível para qualquer pessoa visualizar e
                            descubra novas oportunidades de networking e carreira.<br>
                            Junte-se à nossa comunidade e comece a destacar suas realizações hoje mesmo!<br>
                        </p>
                        <a href="#" class="btn btn-primary">Cadastre-se</a>
                    </div>
                    <div class="col-md-6">
                        <img src="https://assets-global.website-files.com/665375ce5504f1c899ef1a25/66538c6023870b5b6a41d3cd_gatinho.png"
                            class="img-fluid shadow" alt="Gatinho">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer-subscribe bg-light py-4">
        <div class="container">
            <div class="mt-4 border-top pt-3">
                <div class="row">
                    <div class="col-md-6">© 2022 Company name. All rights reserved</div>
                    <div class="col-md-6 text-md-right">
                        <a href="#" class="text-dark">Terms Of Use</a> |
                        <a href="#" class="text-dark">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
                        sessionStorage.token = ''
                        sessionStorage.login = ''
    </script>

</html>